<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <title>Tasks</title>
        </head>
        <body>
                <!--this layout file has a body, and inside the body is a block
                called body, it can/will change depending on what file we are using,
                but this block could change depending on the developer-->

            {% block body%}
            {% endblock %}
        </body>
</html>